<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>u ball-er</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="https://dl.dropbox.com/s/unb7kozlrbox72t/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://rawgit.com/components/handlebars.js/master/handlebars.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js" integrity="sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ==" crossorigin="anonymous"></script>
    <!-- Handlebars -->
<script src=" https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.css" />
    <!-- Hover -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover.css" integrity="sha512-Qg72y9f1a3aVc1FVnjq5YURLOOG8fDKQjMnhxYaZgBz4nIVjpVOBUtuMMMqkZPS1FlVrzzEBXq2sM6Qp1zen/Q==" crossorigin="anonymous" />
    <!-- Checkboxes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.3/pretty-checkbox.css" integrity="sha512-Ja4BFx806Br/z9b1Eu0zBl9qkDZUkVpQESR9bDol5FoGWWiuTYy/m9M/YVFIWAGbqEgkYkyZxmnS0vos0ncZgw==" crossorigin=" anonymous" />
    <!-- JQuery ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" integrity="sha512-cViKBZswH231Ui53apFnPzem4pvG8mlCDrSyZskDE9OK2gyUd/L08e1AC0wjJodXYZ1wmXEuNimN1d3MWG7jaQ==" crossorigin="anonymous"></script>
    <!-- Animate.css -->
    <link rel=" stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css" integrity=" sha512-phGxLIsvHFArdI7IyLjv14dchvbVkEDaH95efvAae/y2exeWBQCQDpNFbOTdV1p4/pIa/XtbuDCnfhDEIXhvGQ==" crossorigin=" anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/optee_jqre/index.js"></script>
    <!-- Cleave -->
    <script src="https://dl.dropbox.com/s/4yq5f9ptby4xy6t/cleave.js"></script>
    <!-- Datepicker -->
    <script src=" https://dl.dropbox.com/s/zjm4n8t4bpxikai/datepicker.js"></script>
    <!-- Drag Table -->
    <script src="https://dl.dropbox.com/s/gnxdnr29f5leg74/dragTable.js"></script>
    <!-- Full Calendar -->
    <script src=" https://dl.dropbox.com/s/lf4g4mjs12a8x36/fullcalendar.js"></script>
    <!-- Isotope -->
    <script src="https://dl.dropbox.com/s/taf9k4h3mht2kb7/isotope.js"></script>
    <!-- Izitoast -->
    <script src=" https://dl.dropbox.com/s/wdudq7zsyinlbu4/izitoast.js"></script>
    <!-- Metis -->
    <script src=" https://dl.dropbox.com/s/ypyqmlbdk1uhwoq/metis.js"></script>
    <!-- Select2 -->
    <script src=" https://dl.dropbox.com/s/5d72if95kru27ak/select2.js"></script>
    <!-- Sweet alert  -->
    <script src="https://dl.dropbox.com/s/3c02blh8f1v2vdw/sweetalert.js"></script>
    <!-- Owl -->
    <script src=" https://dl.dropbox.com/s/9o0q2nvx06fa8k8/owl.js"></script>
    <!-- Timer -->

    <script src="https://dl.dropbox.com/s/wxaoyscnbmgpcv9/timer.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/define_me/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/when_you_free/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/make_fakes/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/array_helperz/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/make_legit/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/whats_wrong/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulletproof_me/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/html_checks/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/make_fakes/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/code_clarity/frontend/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery_selectors_mergez/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/test_waters/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/baller_req_res/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/baller_req_res/forms.js"></script>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/g06cms3fy32lp85/icons.css" />
    <link rel="stylesheet" href="https://dl.dropbox.com/s/vuvf2dbv7n3fahw/icons.css" />
    <link rel="stylesheet" href="https://dl.dropbox.com/s/tljrmo925z4jgdi/professional.css" />
    <link rel="stylesheet" href="https://dl.dropbox.com/s/h4qq1nr4z3infmv/global.css" />
    <!-- npm install jquery_selectors_mergez define_me when_you_free make_fakes array_helperz whats_wrong bulletproof_me make_fakes jquery_selectors_mergez know_youre_real test_waters html_checks make_fakes code_clarity jquery_selectors_mergez test_waters optee_jqre baller_req_res optee_jqre
    
    backend
    npm install --save-dev clear_concise_creative automate_me backend_for_noobs heres_your_route explain_me backend_fakes effective_knex sparkly_clean
    -->
    <script>
        $(() => {

            var data,
                source,
                template;

            // Our data object
            data = {
                title: "Signup",
                quote_text: "The most necessary tool for thinking is also the simplest: a place to keep our thoughts. We cantt keep in view what is significant within our amnesiac, misty, temperamental consciousness. This place will perhaps end up knowing more"
            };

            // Get the template source
            source = $("#current_module").html();
            see.should("source", "data", source)
            console.log(source)
                // Compile the template into a Handlebars function
            template = Handlebars.compile(source);
            console.log(template)
                // Pass our data object to the compiled Handlebars function
                // Insert back into the page
            $("#parent-div").html(template(data));
        })
    </script>
    <!-- <script src="./index.js"></script> -->
</head>

<!-- All your content should go in between the body tags -->

<body>

    put navbar and  and navbar here

    {{{body}}}

</body>

</html>