
<script type='text/javascript'>
 let recipes = {{{ data }}};
        $.each(recipes, function (key, value) {
            recipes += '<tr>';
            recipes += '<td width="25%" class="recipeTitle">' + value.title + '</td>';
            recipes += '<td><img src=' + value.image + '></td>';
            recipes += '<td><a class="learnMore" href="https://spoonacular.com/' + value.title + '-' + value.id + '">Learn More</a></td>';
            recipes += '</tr>';
        });
        $('#recipe_table').append(recipes);
         
    </script>